@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    background-color: aliceblue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Silkscreen', cursive;
    box-sizing: border-box;
}

.settings {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    border: 10px solid #DC143C;
    border-radius: 10px;
    padding: 20px;
    margin-right: 55px;
}

label {
    font-weight: 600;
}

#quantity {
    text-align: center;
    border: 2px solid #DC143C;
    border-radius: 6px;
    width: 150px;
    margin-left: 75px;
}

.create {
    width: 150px;
    margin-left: 77px;
}

.reset {
    width: 125px;
    margin-left: 89px;
}

.create,
.reset {
    font-weight: 600;
    color: 	#FFD700;
    padding: 10px;
    border-radius: 10px;
    background-color: #DC143C;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out;
}

.create:hover,
.reset:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.container {
    width: 700px;
    height: 606px;
    text-align: center;
    border: 52px solid #DC143C;
    border-radius: 20px;
}

.container h1 {
    color: #FFD700;
    margin-top: -45px;
    padding: 2px;
}

.grid {
    height: 503px;
    width: 596px;
    display: grid;
}

.colorGrid {
    background-color: rgba(20, 20, 20, 0.1);
    border: 1px solid gray;
}

.left,
.right {
    padding: 25px;
    border-radius: 50%;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
}

.left {
    position: relative;
    left: -293px;
    bottom: 4px;
}

.right {
    position: relative;
    right: -293px;
    bottom: 4px;
}