@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Silkscreen', cursive;
}